* text=auto

/.github            export-ignore
/.windsurf          export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/docker-compose.yml export-ignore
/phpunit.xml        export-ignore